html{
  height: 100%;
}
body{
  background-color: bisque;
  padding: 5%;
  height: 100%;
}

#main {
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: x-large;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

a {
  background-color:blue;
  color:aliceblue;
  width:15%;
  height: 50px;
  border-radius: 10px;
  padding:1rem;
  text-align: center;
  font-weight: bold;
}